/* style.css */


#heading{
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 500;
}

#subHeading{
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight:normal;
    color: #3c4043;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto',arial, sans-serif;
    background-color: white;
}

#game-container {
    
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#flag {
    width: 300px;
    height: 200px;
    margin-top: 7%;
    margin-bottom: 7%;
    
}

.option {
    margin: 4px;
    color: black;
    padding: 8px 16px;
    background-color: #f8f9fa;
    font-family: 'Roboto',arial, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border-top: 1px solid #f8f9fa;
    border-left: 1px solid #f8f9fa;
    border-right: 1px solid #f8f9fa;
    border-bottom:1px solid #dadce0;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.option.disabled {
    color: #B2B3B4;
}

.option.disabled.correct-answer {
    background-color: green;
    color: white;
}

.option.disabled.wrong-answer {
    border-color: red;
    color: #3c4043;
}

.option:not(.disabled):hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    
}



#message {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#facts {
    margin-top: 0px;
    width: 90%;
    
    text-align:left;
}



.correct-answer {
    background-color: green;
    color: white;
}

.wrong-answer {
    border-color: red;
    color: #3c4043;
}

#next {
    margin-top: 16px;
    padding: 8px 16px;
    height: 48px;
    color: #3c4043;
    background-color: #f8f9fa;
    font-family: 'Roboto',arial, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border-top: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
    border-right: 1px solid #dadce0;
    border-bottom:1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
    width: 90%;
    margin-bottom:24px;
}

#next:hover {
    background-color: #333333;
    color: white;
}


.disabled {
    cursor: default;
    
}




.fact-text strong{
    color: #1d1d1d;
    font-weight:500;
}

.fact-text {
    font-weight: 300;
    color: #1d1d1d;
}

#stats {
    color: #1d1d1d;
    font-weight: 300;
    font-family: 'Roboto',arial, sans-serif;;
    
}

#stats-header {
    font-family: 'Roboto',arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 24px;
    font-weight: bold;
}


#percentage-daily, 
#max-streak, 
#current-streak, 
#times-played
{
    color: black;
    font-family: 'Roboto',arial, sans-serif;
    font-weight:500;
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 80px;
    width: 80%;
    max-width: 520px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.close-btn:hover {
    background-color:#F0F0F0 ;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
}

#top-right-game-stats{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0px;
    right: 16px;
    left: 16px;
    gap: 16px;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    justify-content: space-between;
    background-color: white;
    margin-top: 0px;
    padding-top: 16px;
}
#stats-btn {
    position: relative;
    font-size: 16px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    cursor: pointer;
    padding: 4px 4px;
    background-color: white;
    
}

#stats-btn:hover {
    background-color:#F0F0F0 ;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
}

#score {
    position: relative;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    
}

#lives {
    display: flex;
    
    justify-content: space-between;
    
}

.heart-icon {
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: opacity 0.3s;
}

.heart-lost {
    opacity: 0.2;
}

#game-over-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    /* This assumes it should take up the full viewport height. */
}


#logo-and-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 48px;
    margin-bottom: 80px;
}


#flagem-logo{
    display: relative;
    width: 56px;
    height: 56px;
}

#flagem-logo-text{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}

.center-text-title {
    
    font-size: 36px;
    line-height: 38px;
    font-family: 'Roboto',arial, sans-serif;
    font-weight: 900;
    margin-bottom: 16px;
    
    text-align: center;
}

.center-text-paragraph {
    font-size: 24px;
    font-family: 'Roboto',arial, sans-serif;
    margin-bottom: 32px;
    font-weight: 400;
   
}

#see-stats-from-gameover {
    position: relative;
    
    padding: 16px 24px;
    color: white;
    background-color: black;
    font-family: 'Roboto',arial, sans-serif;
    font-size: 16px;
    border-radius: 40px;
    border: 1px solid #f8f9fa;
    cursor: pointer;

}

#see-stats-from-gameover:hover {
    background-color: #333333;
}


#share-button {
    background-color: #0052FF;
    color: white;
    border-radius: 40px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto',arial, sans-serif;;
    cursor: pointer;
    padding: 16px 24px;
    display: flex;
    position: absolute;
    bottom: 24px;
    right: 24px;

}
 #share-button:hover {
     background-color: #014cec;
 }

#game-over-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items:flex-end;
    justify-content: center;
    z-index: 9999;

    
}

.game-over-content {
    background-color: #fff;
    padding: 48px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px ;
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-family: 'Roboto',arial, sans-serif;
    bottom: 0px;
    position: fixed;
}

#game-over-heading {
    font-size: 24px;
    font-family: 'Roboto',arial, sans-serif;
    font-weight: 600;
    margin: 0;
}

#game-over-score {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 32px;
    font-family: 'Roboto',arial, sans-serif;
}


#close-overlay-btn {
    margin: 0px;
    padding: 16px 32px;
    color: white;
    background-color: black;
    font-family: 'Roboto',arial, sans-serif;
    font-size: 16px;
    border-radius: 32px;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}


/* Disabled state for #next button */
#next.disabled {
    background-color: #e0e0e0;  /* Grayed out background */
    color: #b0b0b0;             /* Grayed out text color */
    border: .5px solid #cccccc; /* Grayed out border */
    cursor: not-allowed;       /* Indicate it's not clickable */
}

#next.disabled:hover {
    background-color: #e0e0e0;  /* Ensure hover doesn't change appearance */
    color: #b0b0b0;
}









/* The toast - position it at the bottom and in the middle of the screen */
#resultsToast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    justify-content: center;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 2; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    border-radius: 8px;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #resultsToast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
